main {
    width: 100%;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main div {
    width: 80%;
    text-align: center;
}

h1 {
    width: 70%;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
}

main div a {
    text-decoration: none;
    color: black;
}